@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.footer-body {
    font-family: 'Capriola', sans-serif;
    font-size: 24px;
}

.footer-buttons {
    margin-top: 6px;
}

.contact-info-container {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}