@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

main {
    background-color: #FFFFFF;
    font-family: 'Capriola', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
}

.catlist-header {
    font-family: 'Capriola', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
    color: #000;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

