@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.navbar {
    font-family: 'Capriola', sans-serif;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
}

.signing-button {
    padding: 10px;
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(0, 0, 0);
}